*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

h1,h2,h3,h4,h5,h6,li,ol,ul,p{

    padding: 0;
    margin: 0;
    list-style: none;
}

a,li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}